:root {
    --color-primary: #f40c3f;
    --color-secondary: #160000;
    --color-shadow: #540000;
    --color-white: #fff0eb;
    --stroke-weight: 1px;
}

@font-face {
    font-family: "Oswald";
    src: url("../../public/fonts/Oswald/static/Oswald-Bold.woff") format("woff");
    font-weight: bold;
}

@font-face {
    font-family: "Playfair";
    src: url("../../public/fonts/Playfair_Display/static/PlayfairDisplay-Regular.woff") format("woff");
    font-weight: normal;
}

@font-face {
    font-family: "JetBrains";
    src: url("../../public/fonts/JetBrains_Mono/static/JetBrainsMono-Regular.woff") format("woff");
    font-weight: normal;
}


html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    background-color: var(--color-primary);
}


p::selection {
    background:var(--color-secondary) ;
    color: var(--color-primary);
}